@import "tailwindcss";


@font-face {
    font-family: 'beatrice';
    src: url('../assets//BeatriceDeckTRIAL-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'beatrice', sans-serif;
}